<ion-header class="ion-no-border">
  <ion-toolbar style="--background: transparent;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="" icon="arrow-back" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white; font-weight: 600;">Kayıt Ol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">
  
  <div class="main-container">

    <div class="header-section">
      <div class="icon-circle">
        <ion-icon name="person-add"></ion-icon>
      </div>
      <h2>Aramıza Katıl</h2>
      <p>Formu doldur, avantajları yakala.</p>
    </div>

    <div class="glass-card">
      <form [formGroup]="kayitFormu" (ngSubmit)="kayitOl()">

        <ion-item lines="none" class="custom-item">
          <ion-icon name="person-outline" slot="start" class="input-icon"></ion-icon>
          <ion-input formControlName="firstName" type="text" placeholder="Adınız"></ion-input>
        </ion-item>
        <div class="error-msg" *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
          <small *ngIf="firstName?.errors?.['required']">Ad gereklidir.</small>
          <small *ngIf="firstName?.errors?.['minlength']">En az 3 karakter.</small>
        </div>

        <ion-item lines="none" class="custom-item">
          <ion-icon name="text-outline" slot="start" class="input-icon"></ion-icon>
          <ion-input formControlName="lastName" type="text" placeholder="Soyadınız"></ion-input>
        </ion-item>
        <div class="error-msg" *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
          <small *ngIf="lastName?.errors?.['required']">Soyad gereklidir.</small>
        </div>

        <ion-item lines="none" class="custom-item">
          <ion-icon name="at-outline" slot="start" class="input-icon"></ion-icon>
          <ion-input formControlName="username" type="text" placeholder="Kullanıcı Adı"></ion-input>
        </ion-item>
        <div class="error-msg" *ngIf="username?.invalid && (username?.dirty || username?.touched)">
           <small *ngIf="username?.errors?.['required']">Kullanıcı adı gereklidir.</small>
           <small *ngIf="username?.errors?.['minlength']">En az 3 karakter.</small>
        </div>

        <ion-item lines="none" class="custom-item">
          <ion-icon name="mail-outline" slot="start" class="input-icon"></ion-icon>
          <ion-input formControlName="email" type="email" placeholder="E-posta Adresi"></ion-input>
        </ion-item>
        <div class="error-msg" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <small *ngIf="email?.errors?.['email']">Geçerli bir e-posta giriniz.</small>
        </div>

        <ion-item lines="none" class="custom-item">
          <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
          
          <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Şifre"></ion-input>
          
          <ion-icon 
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" 
            slot="end" 
            (click)="togglePassword()"
            style="color: #666; font-size: 1.2rem; cursor: pointer; margin-right: 5px;">
          </ion-icon>
        </ion-item>

        <div class="error-msg" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <small *ngIf="password?.errors?.['required']">Şifre gereklidir.</small>
          <small *ngIf="password?.errors?.['pattern']">En az 6 karakter, 1 büyük, 1 küçük harf ve rakam.</small>
        </div>

        <ion-button expand="block" type="submit" class="submit-btn">
          HESAP OLUŞTUR
        </ion-button>

      </form>

      <div class="footer-link">
        <p>Zaten hesabın var mı? <a routerLink="/login">Giriş Yap</a></p>
      </div>

    </div>
  </div>
</ion-content>